/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html
  background-color: $backgroundColor
  body
    background-color: $backgroundColor
    .home
      padding: 0
      .hero
        margin-left:2rem
        margin-right:2rem
        border: 0.125rem solid $borderColor
        box-shadow: 0 0.5rem 1rem 0 $borderColor
        border-radius: 5.625rem
        margin-bottom: 0.625rem
        background-image: radial-gradient(circle at center center, #F5EEE6, $backgroundColor)
        padding: 2rem
      .features
        margin-left: 2rem
        margin-right: 2rem
        border-top: 0.125rem solid $borderColor
        border-bottom: 0.125rem solid $borderColor
        .feature
          text-align: center
          h2
            font-size: 1.4rem
    header
      h1
        margin: 10% 0 5% 15%

.home .hero img
  max-width 450px!important

