/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

 $backgroundColor = #eeee
$accentColor = #87A8A4
$textColor = #555555
$borderColor = #E3E1D9
$codeBgColor = #C7C8CC
